@font-face {
    font-family: 'Pixel No-Fill';
    src: url('../fonts/3Dventure.ttf');
}

@font-face {
    font-family: 'Pixel Fill';
    src: url('../fonts/8-bit Arcade In.ttf');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

body {
    background-color: #252829;
    font-family: 'Press Start 2P', 'Pixel Fill', fantasy;
    color: white;
}

.container {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    width: 900px;
    min-width: 900px;
    height: 600px;
    border: 8px dashed white;
}

#wrapper {
    width: 900px;
    min-width: 900px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 68px;
    z-index: 5;
    transition: all 8s ease;
}

header {
    width: 600px;
    margin: 0 auto 60px auto;
    border-bottom: 4px solid white;
}

h1 {
    font-size: 68px;
    text-align: center;
    text-shadow: 5px 5px darkslategray;

}

.menu {
    margin: 30px auto 0 auto;
    width: 100%;
}

#main {
    display: initial;
}

#ABOUT_ME {
    display: none;
}


ul {
    list-style-type: none;
}

ul li {
    width: 100%;
    float: left;
    font-size: 32px;
    text-align: center;
    padding-bottom: 60px;
}

#description {
    font-size: 20px;
    padding-bottom: 38px;
}

footer {
    float: right;
    margin: 28px 40px 0 0;
    height: 100px;
}

footer a:hover {
    cursor: pointer;
    color: darkslategray;
}

a {
    text-decoration: none !important;
    color: white;
}


.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}


@keyframes flash {
    0% {
        background-color: white;
        color: darkslategray;
    }

    50% {
        background-color: initial;
        color: white;
    }
}



.scanlines {
    pointer-events: none;
    width: 135%;
    height: 135%;
    position: fixed;
    left: -10%;
    top: -10%;
    z-index: 7;

    background: -webkit-repeating-linear-gradient(top,
            transparent 0px,
            transparent 2px,
            rgba(0, 0, 0, 0.55) 0px,
            rgba(0, 0, 0, 0.15) 4px);
    -webkit-background-size: 100% 4px;

    background: -moz-repeating-linear-gradient(top,
            transparent 0px,
            transparent 2px,
            rgba(0, 0, 0, 0.55) 0px,
            rgba(0, 0, 0, 0.15) 4px);
    -moz-background-size: 100% 4px;
}

canvas {
    filter: url(#goo)
}

//Typing animation

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 1s steps(20, end) forwards;
    font-size: 14px;
    width: 0;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

//Speech bubble
$black: #000;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.1);

$px: 4px;

$bubble-border: 0 -1*$px $white,
    0 -2*$px $black,
    $px 0 $white,
    $px -1*$px $black,
    2*$px 0 $black,
    0 $px $white,
    0 2*$px $black,
    -1*$px 0 $white,
    -1*$px $px $black,
    -2*$px 0 $black,
    -1*$px -1*$px $black,
    $px $px $black;

.bubble {
    position: relative;
    display: inline-block;
    margin: 5*$px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 1.3em;
    // letter-spacing: -0.04em;
    background-color: $white;
    color: $black;
    padding: 3*$px;
    box-shadow: $bubble-border;

    box-sizing: border-box;
    width: 200px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        box-sizing: border-box;
    }

    &.shadow {
        box-shadow: $bubble-border, $px 3*$px $shadow, 3*$px $px $shadow, 2*$px 2*$px $shadow;
    }

    &.mini {
        width: 110px;
        font-size: 16px;
        padding: 4px;
        font-family: monospace;
    }

    &.medium {
        width: 350px;
    }

    &.large {
        width: 560px;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
    }

    &.grow {
        width: initial;
    }

    &.top::after {
        height: $px;
        width: $px;
        top: -2*$px;
        left: 8*$px;
        box-shadow:
            0 -1*$px $black,
            0 -2*$px $black,
            0 -3*$px $black,
            0 -4*$px $black,
            -1*$px -3*$px $black,
            -2*$px -2*$px $black,
            -3*$px -1*$px $black,
            -1*$px -1*$px $white,
            -2*$px -1*$px $white,
            -1*$px -2*$px $white,
            -1*$px 0 $white,
            -2*$px 0 $white,
            -3*$px 0 $white;
    }

    &.right::after {
        height: $px;
        width: $px;
        top: 21*$px;
        right: -2*$px;
        background: white;
        box-shadow:
            1*$px -1*$px $white,
            1*$px 0 $white,
            2*$px 0 $white,
            0 -2*$px $white,
            1*$px 1*$px $black,
            2*$px 1*$px $black,
            3*$px 1*$px $black,
            4*$px 1*$px $black,
            3*$px 0 $black,
            2*$px -1*$px $black,
            1*$px -2*$px $black,
            0 -1*$px $white;
    }

    &.bottom::after {
        height: $px;
        width: $px;
        bottom: -2*$px;
        left: 8*$px;
        box-shadow:
            0 $px $black,
            0 2*$px $black,
            0 3*$px $black,
            0 4*$px $black,
            -1*$px 3*$px $black,
            -2*$px 2*$px $black,
            -3*$px 1*$px $black,
            -1*$px $px $white,
            -2*$px $px $white,
            -1*$px 2*$px $white,
            -1*$px 0 $white,
            -2*$px 0 $white,
            -3*$px 0 $white;
    }

    &.left::after {
        height: $px;
        width: $px;
        top: 5*$px;
        left: -2*$px;
        background: white;
        box-shadow:
            -1*$px -1*$px $white,
            -1*$px 0 $white,
            -2*$px 0 $white,
            0 -2*$px $white,
            -1*$px 1*$px $black,
            -2*$px 1*$px $black,
            -3*$px 1*$px $black,
            -4*$px 1*$px $black,
            -3*$px 0 $black,
            -2*$px -1*$px $black,
            -1*$px -2*$px $black,
            0 -1*$px $white;
    }
}