@font-face {
	font-family: 'Pixel No-Fill';
	src: url('../fonts/3Dventure.ttf');
}

@font-face {
	font-family: 'Pixel Fill';
	src: url('../fonts/8-bit Arcade In.ttf');
  }

  @font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
	flex: 50%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

.event-logo {
	transition: all 0.2s;
	margin-right: 10px;
}

.event-logo:hover {
	filter: drop-shadow(1px 1px 3px rgba(255,255,255,1));
	transition: all 0.2s;
	transform: scale(1.1);
}

.github-logo {
	filter: invert(100%);
	transition: all 0.2s;
	margin-right: 10px;
	float:right;
}

.github-logo:hover {
	filter: drop-shadow(1px 1px 3px rgba(255,255,255,1));
	transition: all 0.2s;
	transform: scale(1.1);
}

.itchio-logo {
	filter: invert(100%);
	transition: all 0.2s;
	margin-right: 10px;
	float: right;
}

.itchio-logo:hover {
	filter: drop-shadow(1px 1px 3px rgba(255,255,255,1));
	transition: all 0.2s;
	transform: scale(1.1);
}

.play-btn {
	font-size: 25px;
	font-family: 'Pixel No-Fill', fantasy;
	color: white;
	transition: all 0.2s;
	padding-right: 12px;
}

.play-btn:hover {
	transition: all 0.2s;
	transform: scale(1.1);
	text-decoration: none;
}

.project-title {
	font-family: 'Pixel Fill', fantasy;
	font-size: 40px;
}




.title {
	font-family: 'Pixel No-Fill', fantasy;
	font-size: 100px;
	text-align: center;
}

.subtitle {
	font-family: 'Pixel Fill', fantasy;
	font-size: 50px;
	color: grey;
	text-align: center;
}

.option {
	font-family: 'Pixel Fill', fantasy;
	font-size: 20px;
	text-align: center;
}

.nav-button {
	display: none;
	width: 20px;
	height: 20px;
	filter: invert(100%);
}

.nav-text {
	color: white;
}

.nav-text:hover + .nav-button{
	color: white;
	text-decoration: none;
	display: block;
}

.scanlines {
    pointer-events: none;
    width: 135%;
    height: 135%;
    position: fixed;
    left: -10%;
    top: -10%;
	z-index: 1;

    background: -webkit-repeating-linear-gradient(top,
            transparent 0px,
            transparent 2px,
            rgba(0, 0, 0, 0.55) 0px,
            rgba(0, 0, 0, 0.15) 4px);
    -webkit-background-size: 100% 4px;

    background: -moz-repeating-linear-gradient(top,
            transparent 0px,
            transparent 2px,
            rgba(0, 0, 0, 0.55) 0px,
            rgba(0, 0, 0, 0.15) 4px);
    -moz-background-size: 100% 4px;
}

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}


@keyframes flash {
    0% {
        background-color: white;
        color: darkslategray;
    }

    50% {
        background-color: initial;
        color: white;
    }
}

#back-btn {
	font-family: 'Press Start 2P', 'Pixel Fill', fantasy;
	font-size: 32px;
	margin-left: 8%;
	text-decoration: none;
}

#footer-cpyright {
	font-family: 'Press Start 2P', 'Pixel Fill', fantasy;
	margin-left: 54%;
}